@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand";
  /* background-color: #ddd; */
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #859398,
    #283048
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #859398,
    #283048
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  flex-direction: column;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  margin: 0.3rem 0;
  font-weight: normal;
  font-size: 1.2rem;
  color: white;
}

.form-control input {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 1px solid #bbb;
  outline: none;
  background-color: transparent;
  color: white;
  margin-top: 2px;
}

.form-control input::placeholder {
  color: rgb(204, 204, 204);
  font-weight: 100;
}

.form-control button {
  margin: 1rem 0;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
  color: white;
  background-color: #677b81;
  border: none;
  outline: none;
  border: 1px solid #bbb;
  transition: all 0.3s ease-in;
}

.form-control button:hover {
  background-color: transparent;
}

.form-control button:active {
  transform: scale(0.99);
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-div {
  margin: 1rem;
  height: 200px;
  width: 290px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 1.2rem;
  font-size: 1.2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in;
}

.user-div:hover {
  transform: translateY(-4px);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
}

.user-div div {
  margin: 4px 0;
}

h1 {
  text-align: center;
  color: white;
}

.btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1px solid #859398;
  padding: 0.9rem 1.5rem;
  font-size: 1.2rem;

  outline: none;
  background-color: #859398;
  color: white;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: white;
  color: #859398;
}

.border-color-red {
  border-color: rgb(255, 0, 0) !important;
}
